*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

// Reusable sylte
.container {
  width: 85%; // This is to prohibit things touch both edges, use this one or do padding
  max-width: 65em; // 65 * 16 = 1040 px
  margin: 0 auto;
}

.split {
  display: flex;
  gap: 2em; // this is not supported by safari yet.
  flex-wrap: wrap;
  justify-content: center;

  &>* {
    flex-basis: 30%;
    min-width: 15em; // 15 * 16 = 240px
  }
}

.spacing>*+* {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

// Style individual component
.primary-title {
  font-size: 4rem; // You need to have a predefined one because IE11 doesn't support clamp and it can fall back into it.

  // using clamp() for font sizes, as in these examples, allows you to set a font-size that grows with the size of the viewport, but doesn't go below a minimum font-size or above a maximum font-size.
  // https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 3rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;

  // Tested this, cannot be used as a background color in case problem with loading the image.
  // Once you enable this, it will ignore the below settings.
  // Atm, IE will looks nothing, while chrome still display the image
  //background: #222;

  // The nested @support inside a classname e.g. .hero, is only support in scss file.
  // Normally you have to write outside.
  @supports (background-blend-mode: multiply) {
    background-image:
      url("img/shoe-3.png"),
      radial-gradient(#444, #111); // circulate radial out, center is first value, outside is second value
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }

  //background-size: 10%;
}


.featured {
  background: #eee;

  &__item {
    display: block; // this is not necessary
    position: relative;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1);
    }
  }
}



















